@model BudgetToSave.Models.Investment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Investment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfYears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfYears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalInvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalInvest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestPeriod.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestPeriod.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestmentType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestmentType.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvestmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
