@model IEnumerable<BudgetToSave.Models.Investment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInvest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestPeriod.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvestmentType.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfYears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInvest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestPeriod.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvestmentType.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvestmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvestmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvestmentID })
        </td>
    </tr>
}

</table>
