@model IEnumerable<BudgetToSave.Models.BudgetLimit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/YourMonthlySpending.css" rel="stylesheet" />
<section>
        @Html.ActionLink("Create New", "Create")

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherLimit)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothesLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlcoholLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherLimit)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BudgetLimitID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BudgetLimitID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BudgetLimitID })
                </td>
            </tr>
        }

    </table>
</section>
<section style="z-index:99;position:sticky">
    @foreach (var item in Model)
    {
        <h2>Your Budget Limits</h2>
        <label>Food:R           </label>
        <input type="text" name="Food" id="Text" value="@Html.DisplayFor(modelItem => item.FoodLimit)" />
        <label> @Html.ActionLink("Edit", "Edit", new { id = item.BudgetLimitID }) </label><br />



        <label>Clothes:R        </label>
        <input type="text" name="Clothes" id="Text" value=" @Html.DisplayFor(modelItem => item.ClothesLimit)" />
        <label> @Html.ActionLink("Edit", "Edit", new { id = item.BudgetLimitID }) </label><br />
        <label>Alcohol:R  </label>
        <input type="text" name="Alcohol" id="Text" value="@Html.DisplayFor(modelItem => item.AlcoholLimit)" />
        <label> @Html.ActionLink("Edit", "Edit", new { id = item.BudgetLimitID }) </label><br />
        <label>Other:R      </label>
        <input type="text" name="Other" id="Text" value=" @Html.DisplayFor(modelItem => item.OtherLimit)" />
        <label> @Html.ActionLink("Edit", "Edit", new { id = item.BudgetLimitID }) </label><br />
    }
    @using (Html.BeginForm("MonthlySpending", "MonthlySpendings", FormMethod.Post))
    {
        <button type="submit" onclick="window.location.href = 'MonthlySpending'">Confirm</button>

        <button type="submit" onclick="window.location.href = 'MonthlySpending'">Cancel</button>
    }
</section>
