@model BudgetToSave.Models.BudgetLimit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/BudgetLimits.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<section>
    <div class="Register">
        <h4>BudgetLimit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.LabelFor(model => model.FoodLimit, htmlAttributes: new { @class = "control-label col-md-4" })
            <div>
                @Html.EditorFor(model => model.FoodLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoodLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.ClothesLimit, htmlAttributes: new { @class = "control-label col-md-4" })
            <div>
                @Html.EditorFor(model => model.ClothesLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClothesLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.AlcoholLimit, htmlAttributes: new { @class = "control-label col-md-4" })
            <div>
                @Html.EditorFor(model => model.AlcoholLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlcoholLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.OtherLimit, htmlAttributes: new { @class = "control-label col-md-4" })
            <div>
                @Html.EditorFor(model => model.OtherLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</section>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
