@model BudgetToSave.Models.MonthlySpending

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}


<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<section>
    <h3>Are you sure you want to delete this?</h3>
    <div class="Register">
        <h4>MonthlySpending</h4>
        <hr />
        <dl>
            <dt>
                Food Amount: R @Html.DisplayFor(model => model.FoodAmount)
            </dt>
            <dt>
                Clothes Amount: R  @Html.DisplayFor(model => model.ClothesAmount)
            </dt>



            <dt>
                Alcohol Amount: R @Html.DisplayFor(model => model.AlcoholAmount)
            </dt>

            <dt>
                Other Amount: R  @Html.DisplayFor(model => model.OtherAmount)
            </dt>
            <dt>
                Date of Transacion:  @Html.DisplayFor(model => model.Date)
            </dt>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</section>