@model BudgetToSave.Models.MonthlySpending

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonthlySpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothesAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothesAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlcoholAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlcoholAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonthlySpendingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
