@model BudgetToSave.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "CreateUsers", FormMethod.Post))
    {
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3">
                    Registration
                </th>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Surname
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserSurname)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserSurname, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserUseName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserUseName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    @Html.PasswordFor(m => m.UserPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    UserType
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserTypeID)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserTypeID, "", new { @class = "error" })
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
                <td></td>
            </tr>
        </table>
        @Html.ActionLink("Log In Instead", "Index", "Logins")
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>

