@model BudgetToSave.Models.Donation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Donation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Date:  @Html.DisplayFor(model => model.Date)
            </dt>

            
            <dt>
                Amount: @Html.DisplayFor(model => model.Amount)
            </dt>

           

            <dt>
                Location:  @Html.DisplayFor(model => model.LocationID)
            </dt>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /><br />

            </div>
        }
        <input id="Button1" type="button" value="Cancel" onclick="window.location.href = '@Url.Action("Index", "Donations")'" />
    </div>
</section>
