@model BudgetToSave.Models.Income

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">
    <div class="Register">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Edit Income</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IncomeID)

                <div class="form-group">
                    <h3>Date</h3>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h3>Amount</h3>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h3>Income Type</h3>
                    <div class="col-md-10">
                        @Html.DropDownList("IncomeTypeID", null, htmlAttributes: new { @class = "form-control" })<input id="Button1" type="button" value="Edit" onclick="window.location.href = '@Url.Action("IncomeType", "IncomeTypes")'" />
                        @Html.ValidationMessageFor(model => model.IncomeTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" /> | <input id="Button1" type="button" value="Back To List" onclick="window.location.href = '@Url.Action("Income", "Incomes")'" />
                    </div>
                </div>
            </div>
        }
    </div>
</section>