@model IEnumerable<BudgetToSave.Models.Income>

@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<link href="~/Content/YourMonthlySpending.css" rel="stylesheet" />
<h2 style="text-align:center;">Income Received</h2>
<section style="z-index:99;position:sticky">
    <div class="tbl-header" style="z-index:99;position:sticky">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomeType.Description)
                </th>
                <th></th>
            </tr>
        </table>
    </div>
    <div class="tbl-content" style="z-index:99;position:sticky">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeType.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IncomeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IncomeID })
                    </td>
                </tr>
            }

        </table>
    </div>
    <br />

</section>